<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/navbar.css">
  <title>WanderLust</title>
</head>
<body>
  <nav class="navbar">
    <img src="/images/logo.png" alt="Logo" class="logo">
    <ul class="menu">
      <li class="item"><a href="/">Home</a></li>
      <li class="item"><a href="/listings">All Listings</a></li>
      <li class="item"><a href="/listings/new">Add new Listing</a></li>
      <li class="item"><a href="#">Blog</a></li>
    </ul>
  </nav>
</body>
</html>