body {
  padding-top: 75px;
}


/* Footer */
.f-info-links a{
  text-decoration: none;
  color: #222222;
  margin-right: 3px;
}

.f-info-links a:hover {
  text-decoration: underline;
}

.f-info-links {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.f-info-brand {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.f-info-socials{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.f-info-socials i{
  margin-right: 1rem;
  font-size: 1.3rem;
}

.f-info {
  text-align: center;
  height: 8rem;
  background-color: #ebebeb;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

/* */
.listings {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 20px;
  padding: 20px;
}

.listing-card {
  text-decoration: none;
  color: black;
}

.card {
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  background: #fff;
  transition: transform 0.2s ease;
}

.card:hover {
  transform: translateY(-5px);
}

.card img {
  width: 100%;
  height: 280px;
  object-fit: cover;
}

.card-body {
  padding: 12px;
}

.card-body h3 {
  margin: 0;
  font-size: 18px;
}

.card-body p {
  margin-top: 6px;
  font-weight: bold;
}